
{% extends 'base.html' %}
{% block head_title %}{{title}}{% endblock %}
{%load static%}
{% url 'productos:lista' as lista %}
{% block content %}
{% url 'home' as home %}
{% url 'plantillas:lista' as lista %}
{% url 'lista_pweb' as lista_pweb %}
{% url 'lista_sweb' as lista_sweb %}
<!-- START PAGE CONTENT -->
<div class="content">
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{home}}">Home</a></li>
          {% if object.categoria == 'Páginas Web' %}
          <li class="breadcrumb-item"><a href="{{lista_pweb}}">Páginas Web</a></li>
          {%else%}
          <li class="breadcrumb-item"><a href="{{lista_sweb}}">Sistemas Web</a></li>
          {%endif%}
          <li class="breadcrumb-item"><a>{{object.nombre}}</a></li>
        </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->
        <section class="section">
          <div class="container">
            <div class="row separatedv">
              <div class="col-md-8 order-1">
                {% if object.imagen %}
                    <img src="{{ object.imagen.url }}" width="100%">
                {% endif %}
                <sub class="text-muted text-center">Agregado hace {{object.timestamp|timesince}}</sub>
              </div>
              <div class="col-md-4 order-0">
                <!-- <h1 class="text-center">{{ object.nombre }}</h1> -->
                <h4 class="text-center">Descripción</h4>
                <p class="text-justify">{{ object.descripcion }}</p><br>
                <p class="text-justify"><b>Categoría: {{object.categoria}}</b></p><br>
                <sub class="text-muted">URL: {{object.marcado}}</sub>
              </div>
              <!-- <div class="col-md-4"></div> -->
            </div>
          </div>
        </section>
        <!-- END PLACE PAGE CONTENT HERE -->
      </div>
      <!-- END CONTAINER FLUID -->
    </div>
    <!-- END PAGE CONTENT -->
{% endblock %}
{% include "footer.html" %}
