{% extends 'base.html' %}
{% block head_title %}| Editar Plantilla{% endblock %}
{%load static%}
{%load bootstrap4%}
{% block content %}
{% url 'home' as home %}
{% url 'lista_pweb' as lista_pweb %}
{% url 'plantillas:actualizar' as actualizar %}
<!-- START PAGE CONTENT -->
<div class="content">
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{home}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{lista_pweb}}">Páginas Web</a></li>
          <li class="breadcrumb-item"><a href="{{actulizar}}">Editar Pagina Web</a></li>
        </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->
        <section class="section">
            <div class="container">
                <div class="row separatedv">
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-6">
                    <form enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      <!-- {% bootstrap_form form %} -->
                      <div class="form-group">
                        <label for="id_nombre">Nombre</label>
                        <input type="text" name="nombre" value="{{object.nombre}}" title="" required id="id_nombre" maxlength="120" placeholder="Nombre" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label for="id_marcado">Marcado</label>
                        <input type="text" name="marcado" value="{{object.marcado}}" title="" id="id_marcado" maxlength="50" placeholder="Marcado" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label for="id_descripcion">Descripcion</label>
                        <textarea name="descripcion" rows="10" title="" required cols="40" id="id_descripcion" placeholder="Descripcion" class="form-control">{{object.descripcion}}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="id_imagen">Imagen</label>
                        <div class="row bootstrap4-multi-input"><div class="col-12"><input type="file" name="imagen" id="id_imagen" class="" title="" value="{%if object.imagen%}{{object.imagen.url}}{%else%}{%endif%}"/></div></div>
                      </div>
                      <div class="form-group">
                        <label for="id_categoria">Categoria</label>
                        <!-- <input type="text" name="categoria" title="" required id="id_categoria" maxlength="120" placeholder="Categoria" class="form-control" value="{{object.descripcion}}"/> -->
                        <select name="categoria" id="id_categoria" class="form-control">
                          <option value="{{object.categoria}}">{{object.categoria}}</option>
                          {%if object.categoria == 'Páginas Web'%}
                          <option value="Sistemas Web">Sistemas Web</option>
                          {%else%}
                          <option value="Páginas Web">Páginas Web</option>
                          {%endif%}
                        </select>
                      </div>
                      <button type="submit" name="submit" class="btn btn-success">Completo</button>
                    </form>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
            </div>
        </section>
        <!-- END PLACE PAGE CONTENT HERE -->
    </div>
    <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock %} {% include "footer.html" %}
