{% extends 'base.html' %}
{% block head_title %}{{title}}{% endblock %}
{%load static%}
{%load bootstrap4%}
{% block content %}
{% url 'home' as home %}
{% url 'lista_pweb' as lista_pweb %}
{% url 'plantillas:actualizar' as actualizar %}
<!-- START PAGE CONTENT -->
<div class="content">
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{home}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{lista_pweb}}">Páginas Web</a></li>
          <li class="breadcrumb-item"><a href="{{actulizar}}">Editar Pagina Web</a></li>
        </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->
        <section class="section">
            <div class="container">
                <div class="row separatedv">
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-6">
                    <form enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      <button type="submit" name="submit" class="btn btn-success">Completo</button>
                    </form>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
            </div>
        </section>
        <!-- END PLACE PAGE CONTENT HERE -->
    </div>
    <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock %} {% include "footer.html" %}
